<%= turbo_frame_tag "selected_players" do %>
  <ul class="divide-y divide-gray-200">
    <% if game.players.any? %>
      <% game.players.each do |player| %>
        <li class="flex justify-between items-center py-2">
          <span class="font-medium text-gray-800"><%= player.name %></span>
          <%= button_to "❌ Retirer",
                        game_player_path(game, player),
                        method: :delete,
                        data: { turbo_confirm: "Retirer #{player.name} ?", 
                        action: "turbo:submit-end->game-players#updateCounter" },
                        class: "text-red-600 hover:text-red-800 text-sm" %>
        </li>
      <% end %>
    <% else %>
      <li class="text-gray-500 text-center py-2">Aucun joueur pour l’instant.</li>
    <% end %>
  </ul>
<% end %>
