<h1>Nouvelle manche</h1>
<%= form_with model: @round, url: game_rounds_path(@game) do |f| %>
  <div><%= f.label :length %><%= f.number_field :length %></div>
  <%= f.submit "Créer", class: "btn btn-success" %>
<% end %>
