<!-- app/views/layouts/application.html.erb -->
<% if flash[:alert] %>
  <div class="bg-red-100 text-red-700 p-2 mb-2 rounded text-center">
    <%= flash[:alert] %>
  </div>
<% elsif flash[:notice] %>
  <div class="bg-green-100 text-green-700 p-2 mb-2 rounded text-center">
    <%= flash[:notice] %>
  </div>
<% end %>
