<%= turbo_frame_tag "selected_players" do %>
  <% if @game.players.any? %>
    <ul class="divide-y">
      <% @game.players.each do |player| %>
        <li class="py-2 text-center text-gray-800 font-medium flex justify-between items-center">
          <span><%= player.name %></span>
          <%= button_to game_player_path(@game, player), method: :delete,
              form: { data: { turbo_stream: true, turbo_frame: "selected_players" } },
              class: "text-red-500 hover:text-red-700" do %>
            <i class="fas fa-trash"></i>
          <% end %>
        </li>
      <% end %>
    </ul>
  <% else %>
    <p class="text-center text-sm text-gray-500">Aucun joueur sélectionné.</p>
  <% end %>
<% end %>