<div class="container">
  <h1>Parties en cours</h1>
  <%= link_to 'Nouvelle partie', new_game_path, class: "btn btn-primary" %>
  <ul>
    <% @games.each do |game| %>
      <li><%= link_to "Partie ##{game.id}", game_path(game) %></li>
    <% end %>
  </ul>
</div>
