
<div class="bg-white text-center">
    <h1 class="text-4xl font-bold text-gray-900">Start a new game</h1>
    <br>
    <p class="text-2xl font-bold tracking-tight text-gray-900">Select the players</p>
    <br>
    <%= simple_form_for @game do |f| %>
      <%= f.association :players, collection: Player.all, label: false %>
      <%= f.button :submit, class: "btn btn-success"%>
    <% end %>
</div>
