<div class="w-full bg-800">
  <section class="max-w-6xl mx-auto px-4 sm:px-6 lg:px-4 py-12">
      <div class="text-center pb-12">
          <h2 class="text-base font-bold text-indigo-600">
              We have the best rikikos in the market
          </h2>
          <h1 class="font-bold text-3xl md:text-4xl lg:text-5xl font-heading text-black">
              Check our awesome players
          </h1>
      </div>
      
      <div class="grid grid-cols-1 lg:grid-cols-2 gap-6">
        <% @players.each do |player| %>
          <div class="w-full bg-gray-900 rounded-lg sahdow-lg overflow-hidden flex flex-col md:flex-row">
              <div class="w-full md:w-2/5 h-80">
                  <img class="object-center object-cover w-full h-full" src="https://images.unsplash.com/flagged/photo-1570612861542-284f4c12e75f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1170&q=80" alt="photo">
              </div>
              <div class="w-full md:w-3/5 text-left p-6 md:p-4 space-y-2">
                  <p class="text-xl text-white font-bold"><%= player.name %></p>
                  <p class="text-base text-gray-400 font-normal"><%= player.rank %></p>
                  <p class="text-base leading-relaxed text-gray-500 font-normal"><%= player.description %></p>
                  <div class="flex justify-start space-x-2">
                    <%= link_to "See profile", player_path(player), class: 'btn-primary block mt-1.5 w-full px-4 py-3 font-medium tracking-wide text-center capitalize transition-colors duration-300 transform rounded-[14px] hover:bg-[lightblue] hover:text-[#000000dd] focus:outline-none focus:ring focus:ring-teal-300 focus:ring-opacity-80' %>
                  </div>
              </div>
          </div>
        <% end %>
      </div>
  </section>
</div>